/* * * * * * TAGs * * * * */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    background-color: #35b8b0;
    padding: 20px;
    height: 80px;
}

footer {
    clear: both;
    background-color: #35b8b0;
    height: 50px;
    text-align: center;
    padding: 10px;
}

h1 {
    color: black;
    text-align: center;
    margin: 0 0 20px 0;
}

p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/* * * * * * ID's * * * * */
#principal {
    background-image: url('FFXII_1.jpg');
    background-size: 100%;
    min-height: 400px;
    padding: 100px 0 0 0;
}

/* * * * * * CLASSES * * * * */
.container {
    width: 960px;
    margin: 0 auto;
}