/* Meu primeiro comentário */

/* Sintaxe CSS

seletor {
    propriedade: valor,
    propriedade: valor2
}
*/

p {
    color: red;
    font-size: 90px;
    font-family: Arial;
    font-family: "Comic Sans MS";
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #d31d1d;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    height: 100px;
}

#div-esquerda {
    background-color: red;
}

#div-direita {
    background-color: yellow;
}

footer {
    background-color: blue;
    height: 30px;
}