* {
    margin: 0;
    padding: 0;
    text-align: center
}

header {
    height: 100px;
    border: 1px solid black;
}

nav {
    border: 1px solid black;
}

article {
    border: 1px solid black;
    width: 79%;
    float: left;
    min-height: 200px;
}

aside {
    border: 1px solid black;
    float: right;
    width: 20%;
    min-height: 200px;
}

footer {
    border: 1px solid black;
    clear: both;
    height: 80px;
}